@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --background-body: #222222;
  --text-white: #ffffff;
  --text-form: #aeaeae;
  --text-blue: #840ec9;
  --hover-btn: #620a95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-body);
  color: var(--text-white);
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  flex-direction: column;

}

#logo h1 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

header .menu-section #navegation ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

header .menu-section #navegation ul li {
  display: inline-block;
}


header .menu-section #navegation ul li a {
  text-decoration: none;
  color: var(--text-white);
}

header .menu-section #navegation ul li a:hover {
  color: var(--text-blue);
  transition: 0.2s all;
}

header .menu-section #navegation ul li:last-child a {
  border: 2px solid var(--text-blue);
  padding: 8px 25px;
  border-radius: 15px;
}

header .menu-section #navegation ul li:last-child a:hover {
  background-color: var(--text-blue);
  color: var(--text-white);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  line-height: 30px;
  font-family: var(--primary-font);
  font-weight: 400;
}

main aside h2 {
  font-size: 56px;
  line-height: 60px;
}

main aside h2 span {
  color: var(--text-blue);
}

main aside p {
  max-width: 500px;
  margin: 30px 0 15px 0;

}

main article img {
  width: 600px;
}

main aside form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

main aside form input {
  margin-top: 20px;
  padding: 15px 5px;
  color: var(--text-white);
  background: none;
  border: none;
  border-bottom: 2px solid var(--text-blue);
  font-size: 15px;
}

main aside form input:focus {
  outline: 0;
}

main aside form input::placeholder {
  color: var(--text-form);
}

main aside form [type="submit"] {
  height: 50px;
  width: 35%;
  border-radius: 20px;
  background-color: var(--text-blue);
  color: var(--text-white);
  font-weight: 700;
  border: none;
}

main aside form [type="submit"]:hover {

  background-color: var(--hover-btn);

}

main aside form [type="submit"]:hover {
  cursor: pointer;
}


/* - - - - - RESPONSIVIDADE - - - - - - */

/* - - - - - Portátil L - - - - - - */
@media(max-width: 1200px) {
  main article img {
    width: 500px;
  }

  main aside h2 {
    font-size: 48px;
    line-height: 60px;
  }

  main aside p {
    font-size: 15px;
    max-width: 450px;
  }
}

/* - - - - - Portátil - - - - - - - */
@media(max-width: 1024px) {
  main article img {
    width: 400px;
  }

  main aside h2 {
    font-size: 42px;
    line-height: 60px;
  }

  main aside p {
    font-size: 14px;
    max-width: 400px;
  }

  header .menu-section #navegation ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  header .menu-section #navegation ul li {
    display: inline-block;
  }

  header .menu-section #navegation ul li a {
    font-size: 15px;
  }

}

/* - - - - - Tablet - - - - - - - - */
@media(max-width: 880px) {
  main {
    justify-content: center;
    flex-direction: column;
  }

  main article {
    order: -1;
  }

  main article img {
    width: 300px;
  }

  main aside h2 {
    font-size: 56px;
    line-height: 60px;
  }

  main aside p {
    max-width: 500px;
    margin: 30px 0 15px 0;
  }

  main aside form [type="submit"] {
    height: 50px;
    width: 50%;
    align-self: center;
  }

  header .menu-section #navegation ul li:not(:last-child) {
    display: none;
  }


}

/* - - - - - Mobile Grande - - - -  */
@media(max-width: 600px) {}

/* - - - - - Mobile Pequeno - - - - */
@media(max-width: 440px) {}